<div class="alert alert-secondary" role="alert" style="margin-top: 80px;">
    For Signing Up in our website please complete the form.
</div>


<form class="change-w">
    <div class="form-group" [formGroup]="form">
        <label for="suEmail">Email address</label>
        <input [(ngModel)]="person.username" formControlName="email" type="email" class="form-control" id="suEmail">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        <br>
        <label for="pass">Password</label>
        <input [(ngModel)]="person.password" formControlName="pass" type="password" class="form-control" id="signuppass">
        <br>
    </div>
    <button type="submit" class="btn btn-primary" (click)="signup()">Sign Up</button>
    <button type="submit" class="btn btn-primary gray" (click)="login()">Log In</button>
</form>
<h1>
    {{responseData}}
</h1>
<!-- Flexbox container for aligning the toasts -->
